.index-hero,
.video-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  align-self: flex-start;
}

.inside-library {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.video {
  max-width: 100%;
}