.whatsapp-float {
  display: none;
}

@media screen and (min-width: 768px) {
  .whatsapp {
    position: fixed;
    bottom: 60px;
    right: 40px;
  }
  
  .whatsapp-float {
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
    /* Agregamos el borde interior blanco */
    border: 3px solid white;
    /* Agregamos un pequeño padding para que el borde no toque el ícono */
    padding: 3px;
  }

  .whatsapp-float:hover {
    background-color: #128C7E;
    transform: scale(1.1);
  }

  .bounce {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-10px);
    }

    60% {
      transform: translateY(-5px);
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #128C7E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #128C7E transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

}